# core
python-dotenv
cryptography

# API framework
fastapi
uvicorn[standard]
pydantic
python-multipart

# dependencias resueltas manualmente
moviepy==2.2.1
tensorflow
opencv-contrib-python

# AI y análisis
fer
transformers
torch
librosa
sentencepiece
onnx
onnxruntime
soundfile
pydub

# API SDKs externos
groq
deepgram-sdk==4.8.1
edge-tts